/*BTN*/
.btn{
    background-color: #ce9e20;
    color:white;
    font-weight: 300;
    border: 1px solid #9ADBDE;
}
.btn:hover{
    opacity: 0.8;
    background-color: #9ADBDE;
    color: #ce9e20;
    border: 1px solid #ce9e20;
}