/*CONOCENOS*/
#conocenos{
    background-color: #9ADBDE;
    box-shadow:0px 0px 4px 0px #333 inset;
    
}
#conocenos h4{
    color: #58430a;
}
#conocenos p{
    color: #ce9e20;
}
#conocenos .btn{
    background-color: #ce9e20;
    color: white;
}
#conocenos .btn:hover{
    background-color: white;
    color: #58430a;
}
#conocenos img{
    max-height: 100rem;
    width: 100%;
   
}
#img{
    padding: none;
}
