/*NAV*/
nav{
    background-color: #ce9e20;
    box-shadow:1px 2px 10px 0px #444;
}
#navbarSupportedContent a{
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    font-weight: 300;    
}
#navbarSupportedContent a:hover{
    opacity: 0.8;
    color: #58430a;
    
}
#navbarSupportedContent .dropdown{
    align-content: center;
}
#navbarSupportedContent .dropdown .dropdown-menu{
    background-color:#ce9e20 ;
    border:0px 0px 4px 0px #333 inset;
}
#navbarSupportedContent .dropdown .dropdown-menu a:hover{
    background-color: #ce9e20;
    opacity: 1;
    background-color: transparent;
    
}
#navbar{
    font-size: 1rem;
    
}
#iconos i{
    color: #9ADBDE;
    font-size: 30px;
}
#iconos i:hover{
    cursor: pointer;
    opacity: 0.8;
    color: #58430a;
}